# .gitignore

# Picross Specific Stuff
prefs.txt
picross.iml

# Java

*.ctxt
.mtj.tmp/
*.war
*.ear
hs_err_pid*

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/

# IntelliJ
.idea/tasks.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/gradle.xml
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# JDeveloper
.data/
temp/
classes/
deploy/
javadoc/
cwallet.sso.lck
.idea/picross.iml
/.idea/
/nbproject/
