[Desktop Entry]
Name=Picross
Comment=Nonogram puzzle
GenericName=Nonogram puzzle game
X-GNOME-FullName=Picross
Exec=/usr/lib/picross/picross.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=picross
Categories=Game;
StartupNotify=true
